{% extends "layout.html" %}

{% block content %}
<h2><a href="/?token={{ access_token }}">HelloSign Example</a> - Sign Agreement</h2>

<script type="text/javascript" src="https://s3.amazonaws.com/cdn.hellosign.com/public/js/hellosign-embedded.LATEST.min.js"></script>
<script>
HelloSign.init("{{ client_id }}");
HelloSign.open({
    url: "{{ sign_url }}",
    skipDomainVerification: true,
    allowCancel: true,
    messageListener: function(eventData) {
        // do something
    }
});
</script>

<br/>
<p><a href="/?token={{ access_token }}">Return Home</a></p>
{% endblock %}